/* theme colors */
body {
  margin: 0px;
  background: #e5e5e5;
  /*font-family: helvetica;*/

  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  background-color: #b5b5b5;
}
body h1 {
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #000000;
}
body a:hover, body a:active {
  text-decoration: underline;
}
body li {
  list-style: none;
}
body #splash_container {
  /* splash panel */

}
body #splash_container #splash_panel {
  margin: auto;
  position: relative;
  top: 50px;
  width: 600px;
  /*  border: 1px solid @col; */

}
body #splash_container #splash_panel h1 {
  text-align: right;
  margin: 240px 0 0;
  font-size: 20px;
  font-weight: bold;
  color: #ccddff;
}
body #splash_container #splash_panel #squash-tiems {
  float: left;
  width: 295px;
  height: 250px;
  background: url("/images/squash_court.png");
  background-repeat: no-repeat;
  background-position: center;
}
body #splash_container #splash_panel #balls-of-steel {
  float: right;
  width: 295px;
  height: 250px;
  background: url("/images/tarmac.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}
body #tournaments #top_line {
  height: 110px;
  background-color: #b5b5b5;
  text-shadow: 2px 1px #131313;
}
body #tournaments #top_line div#header {
  width: 1000px;
  height: 110px;
  background-color: #b5b5b5;
  margin: auto;
  color: #ccddff;
}
body #tournaments #top_line div#header a {
  color: #4499ff;
}
body #tournaments #top_line div#header .logo {
  float: left;
  height: 104px;
  width: 140px;
  background-image: url('/images/kd2_logo.png');
  background-repeat: no-repeat;
}
body #tournaments #top_line div#header div#header_title {
  float: left;
  padding-top: 30px;
}
body #tournaments #top_line div#header div#header_title a {
  text-decoration: none;
}
body #tournaments #top_line div#header div#header_title h1 {
  padding: 15px 0 0 15px;
  font-size: 42px;
}
body #tournaments #top_line div#header div#header_links {
  float: right;
  padding: 30px 10px 0 0;
}
body #tournaments #top_line div#header div#header_links a {
  font-size: 20px;
  color: #ccddff;
  font-weight: bold;
}
body #tournaments #contents {
  width: 1000px;
  margin: auto;
  background-color: #ccddff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
body #tournaments #contents a {
  color: #131313;
}
body #tournaments #contents .flash {
  float: left;
  width: 740px;
  background-color: #f4f4f4;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
body #tournaments #contents .label {
  float: left;
  width: 120px;
  text-align: right;
  padding-right: 10px;
  font-size: .9em;
  font-weight: bold;
}
body #tournaments #contents .value {
  font-size: .9em;
}
body #tournaments #contents #contents_left {
  float: left;
  width: 770px;
  color: #131313;
}
body #tournaments #contents #contents_left ul {
  margin: 0px;
  padding: 15px 0 0 20px;
  list-style: none;
}
body #tournaments #contents #contents_left ul li.dashboard_item .title {
  float: left;
}
body #tournaments #contents #contents_left ul li.dashboard_item .title h2 {
  padding: 0px;
  margin: 15px 0 5px 10px;
}
body #tournaments #contents #contents_left ul li.dashboard_item .actions {
  padding: 20px 5px 0;
  float: right;
  white-space: nowrap;
}
body #tournaments #contents #contents_left ul li.dashboard_item .actions a {
  font-size: 13px;
  font-weight: bold;
  color: #f4f4f4;
  background-color: #131313;
  padding: 3px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
body #tournaments #contents #contents_left ul li.dashboard_item .actions a:hover, body #tournaments #contents #contents_left ul li.dashboard_item .actions a:active {
  background-color: #ccddff;
  color: #131313;
  border: 1px solid #131313;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content {
  clear: both;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content .content-table {
  width: 100%;
  text-align: left;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content .content-table th {
  font-size: 12px;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content .content-table td {
  font-size: 13px;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content .content-table.tournaments .col-datetime {
  width: 100px;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content .content-table.tournaments .col-name {
  width: 150px;
  font-weight: bold;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content .content-table.tournaments .col-participants {
  width: 200px;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content .content-table.tournaments .col-availability {
  width: 50px;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content .content-table.tournaments .col-location {
  width: 100px;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content .content-table.games .col-opponent {
  width: 100px;
}
body #tournaments #contents #contents_left ul li.dashboard_item .dashboard-item-content .content-table.games .col-name {
  width: 350px;
  font-weight: bold;
}
body #tournaments #contents #contents_left #profile {
  padding: 0 20px;
}
body #tournaments #contents #contents_left #profile h3 {
  margin-bottom: 5px;
}
body #tournaments #contents #contents_left #profile h2 {
  font-size: 1em;
  margin: 5px;
}
body #tournaments #contents #contents_left #profile .info {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
body #tournaments #contents #contents_left #profile .info table {
  text-align: center;
}
body #tournaments #contents #contents_left #profile .info table th {
  width: 100px;
}
body #tournaments #contents #contents_left #profile .info input[type='checkbox'] {
  width: auto;
}
body #tournaments #contents #contents_left #profile.login {
  width: 300px;
  margin: auto;
}
body #tournaments #contents #contents_left #profile.login input {
  width: 100%;
}
body #tournaments #contents .field_with_errors input {
  border: 1px solid red;
}
body #tournaments #contents div.actions {
  padding: 15px 0 0 0px;
  float: right;
}
body #tournaments #contents div.actions a, body #tournaments #contents div.actions input {
  background-color: #131313;
  margin: 10px;
  padding: 5px 15px;
  color: #f4f4f4;
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
body #tournaments #contents div.actions a:hover,
body #tournaments #contents div.actions input:hover,
body #tournaments #contents div.actions a:active,
body #tournaments #contents div.actions input:active {
  background-color: #ccddff;
  color: #131313;
  border: 1px solid #131313;
  margin-top: -2px;
}
body #tournaments #contents div.actions input {
  font-size: 1em;
  margin: 0 10px 10px;
  cursor: pointer;
  width: auto;
}
body #tournaments #contents #contents_right {
  float: right;
  width: 180px;
  padding: 10px 10px 30px;
  margin: 30px 10px 0  0;
  color: #131313;
  text-shadow: 1px 1px #e5e5e5;
  background-color: #f4f4f4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
body #tournaments #contents #contents_right a {
  color: #131313;
}
body #tournaments #contents #contents_right h1 {
  text-align: right;
  font-style: oblique;
}
body #tournaments #contents #contents_right ul {
  list-style: none;
  text-align: right;
}
body #tournaments #contents #contents_right h4 {
  margin: 5px;
}
body #tournaments #contents #contents_right .splitter {
  border-bottom: 1px solid #131313;
  margin: 10px 0;
}
body #tournaments #contents #tournament_form {
  padding: 0 20px;
  width: 400px;
  margin: auto;
}
body #tournaments #contents #tournament_form .info {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
body #tournaments #contents #tournament_form .info li {
  list-style: none;
}
body #tournaments #contents #tournament_form .info li label {
  display: block;
}
body #tournaments #contents #tournament_form .info li input {
  width: 100%;
}
body #tournaments #contents #tournament_form .info li p.inline-errors {
  font-size: 0.8em;
  color: red;
}
body #tournaments #contents #tournament {
  margin: 20px;
}
body #tournaments #contents #tournament h2 {
  margin: 10px;
}
body #tournaments #contents #tournament .item {
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
body #tournaments #contents #game_form {
  padding: 0 20px;
  width: 400px;
  margin: auto;
}
body #tournaments #contents #game_form .info {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
body #tournaments #contents #game_form .info li {
  list-style: none;
}
body #tournaments #contents #game_form .info li label {
  display: block;
}
body #tournaments #contents #game_form .info li input {
  width: 100%;
}
body #tournaments #contents #game_form .info li p.inline-errors {
  font-size: 0.8em;
  color: red;
}
body #tournaments #contents table.games {
  width: 100%;
  font-size: .9em;
}
body #tournaments #contents table.games td {
  text-align: center;
}
body #tournaments #contents table.games .col-id {
  width: 30px;
}
body #tournaments #contents table.games .col-player {
  width: 80px;
}
body #tournaments #contents table.games .col-points {
  width: 80px;
}
body #tournaments #contents table.games .col-tournament {
  font-weight: bold;
  width: 150px;
}
body #tournaments #contents table.standings {
  font-size: .9em;
}
body #tournaments #contents table.standings th {
  width: 100px;
}
body #tournaments #contents table.standings td {
  text-align: center;
}
body #tournaments #contents .contents_bottom {
  height: 20px;
}
body #tournaments #contents table .col-action {
  white-space: nowrap;
  width: 100px;
}
body #tournaments #contents table .col-action a {
  font-size: 0.9em;
  font-weight: bold;
  background-color: #131313;
  color: #f4f4f4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 2px 15px;
}
body #tournaments #contents table .col-action a:hover, body #tournaments #contents table .col-action a:active {
  background-color: #ccddff;
  color: #131313;
  border: 1px solid #131313;
  margin: -1px;
}
body #tournaments #footer {
  width: 1000px;
  margin: auto;
  color: #ccddff;
  height: 100px;
  text-shadow: 1px 1px black;
  background-color: #131313;
}
body #tournaments #footer div#copyright {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 20px;
}
body #tournaments #filler {
  background-color: #131313;
  z-index: -1;
  height: 90%;
  position: absolute;
  width: 1000px;
  left: 0px;
  right: 0px;
  top: 10%;
  margin: auto;
}
body #tournaments #filler_top {
  background-color: #b5b5b5;
  z-index: -1;
  top: 100px;
  height: 30px;
  width: 100%;
  position: absolute;
}
body fieldset {
  margin: 0px;
  padding: 0px;
  border: 0 none;
}
body fieldset ol {
  padding: 0px;
  margin: 0px;
}
body .clear {
  clear: both;
}
