%ul
  %li.dashboard_item
    %div.title
      %h2 Nākamie turnīri
      
    %div.actions
      - if user_signed_in?
        =link_to 'pievienot turnīru', new_tournament_path
      
    %div.dashboard-item-content
      =render 'list', :tournaments => @upcoming_tournaments, :locked => false
      
    %div.title
      %h2 Iepriekšējie turnīri

    %div.dashboard-item-content
      =render 'list', :tournaments => @previous_tournaments, :locked => true
      
    %div.title
      %h2 Spēlētāji

    %div.dashboard-item-content
      =render 'player_list'