
<a href="<%= games_url %>">
<div id="squash-tiems">
  <h1>Ķeizara Dižbumbas 2011</h1>
</div>
</a>

<a href="<%= laptimes_url %>">
<div id="balls-of-steel">
  <h1>Dzintara Lāde 2011</h1>
</div>
</a>

<div class="clear" />

